p {
  text-align: justify;
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.card-body {
  padding: 1.25rem;
}

.card-body {
  display: flex;
  flex-direction: column;
}

@media (max-width: 768px) {
  .row-cols-md-2 > .col {
    padding-left: 10px;
    padding-right: 10px;
  }

  .card {
    margin-bottom: 20px;
  }
}
